@page "/"
@code
{


     
     
      int ok=22;
     const string connectionUri = "mongodb://localhost:27017";    
     string dane = "";

      
}
      




<head>
    <title>Rand</title>
</head>
<body>
    <nav id='mojaNav'>
    <ul id='mn'>
    <li>pies</li>
    <li>kot</li>
    <li>@ok</li>
    <li>@dane</li>
</ul>
</nav>
</body>




